@use "mixin";
@use "reset";

.heroContainer {
  height: 20rem;
  width: 100%;
  border: 1px solid;

  @include mixin.center;
}

.splineContainer {
  height: 100%;
  width: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
