@use "mixin";
@use "reset";

.heroContainer {
  height: 20rem;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;

  @include mixin.center;
}

.splineContainer {
  height: 100%;
  width: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .heroContainer {
    @include mixin.center(none);
    border: none;
  }
}
