@use "mixin";
@use "reset";

.CardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 1rem;

  &--card {
    cursor: pointer;
  }

  &--card:hover {
    border: 1px solid pink;
  }
}

@media (max-width: 1400px) {
  .CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .CardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
