@mixin center($apply: true) {
  @if $apply == true {
    display: flex;
    align-items: center;
    justify-content: center;
  } @else {
    display: block;
  }
}

@mixin centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
