@use "mixin";
@use "reset";

.navBarContainer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 1rem;
  //border: 1px solid red;
}

.navBarContainer section:nth-child(1) {
  justify-content: start;
  cursor: pointer;
}

.navBarContainer section:nth-child(2) {
  justify-content: end;
}
